header {
    background-color: #bbbbbb;
    padding: 20px;
}

.caixa {
    width: 940px;
    margin: 0px auto;
    position: relative;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

nav a:hover {
    color:#c78c19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0px auto;
    padding: 50px 0;
}

.produtos li {
    background-color: #ccc;
    width: 30%;
    display: inline-block;
    margin: 0 1.5%;
    padding: 30px 20px;
    text-align: center;
    border: #000000 2px solid;
    border-radius: 10px;
    vertical-align: top;
    box-sizing: border-box;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active {
    border-color: #088c18;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.descricao {
    font-size: 18px;
}

.preco {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

footer {
    background-color: #ccc;
    background-image: url("imagens/bg.jpg");
    padding: 40px 0;
    text-align: center;
}

.copyright {
    margin-top: 20px;
    font-size: 13px;
    color: #fff;
}