body {
    margin: 0;
}

header {
    background-color: #bbbbbb;
    margin-bottom: 5px;
    padding: 20px;
}

.caixa {
    width: 940px;
    margin: 0px auto;
    position: relative;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

nav a:hover {
    color:#c78c19;
    text-decoration: underline;
}

p {
    text-align: center;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralziado {
    text-align: center;
}

#banner {
    width: 100%;
}

#missao {
    color: #ff0000;
}

.sobre {
    background-color: #cccccc;
    padding: 30px;
}

.beneficios {
    background-color: #ffffff;
    padding: 20px;
}

.beneficios ul {
    width: 20%;
    margin-right: 15%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    font-style: italic;
}

.img_beneficios {
    width: 50%;
}

footer {
    background-color: #cccccc;
    background-image: url("imagens/bg.jpg");
    padding: 20px 0;
    text-align: center;
}

.copyright {
    margin-top: 20px;
    font-size: 13px;
    color: #ffffff;
}